<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <arg name="gui" default="true"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find hexacopter)/world/typhoon_ardupilot.world"/>
    <arg name="gui" value="$(arg gui)"/>
    <!-- more default parameters can be changed here -->
  </include>

  <!--<param name="robot_description" command="cat $(find hexacopter)/urdf/hexacopter.urdf"/>-->
  <!--<param name="robot_description" textfile="$(find hexacopter)/model.sdf"/>-->
  <!--<param name="robot_description" textfile="/home/bilal/.gazebo/models/hexacopter/model.sdf"/-->
</launch>